<div class="col-lg text-center">
  <h4>Login</h4>
  
  <form action="/login/signup" method="POST">
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <div class="mb-3">
      <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>