<%- include('includes/head'); %>

<section class="container">
  <h1>Lorem normal</h1>

  <form action="/" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>User</label>
    <input type="text" name="username">
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer'); %>